/* general settings */

:root {
    --dark-grey: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--dark-grey);
}

/* text settings */

h1 {
    font-family: 'Rubik';
    font-size: 100px;
    text-transform: uppercase;
    background: url(back.jpg);
    color: transparent;
    -webkit-background-clip: text;
    animation: background-animation 10s linear infinite;
}

/* animation */

@keyframes background-animation {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 100% 100%
    }
}
